.sidebar {
  width: 250px;
  background-color: #041D56; /* Dark blue background */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: #FFFFFF; /* Ensure text is white */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
  color: #266CA9; /* Accent color for hover effect */
}
